/*
 * Copyright (c) 2022-2025, Spacemit
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include "k3.dtsi"
#include "k3-pinctrl.h"

&pmx_core {
	status = "okay";
        pinctrl-single,gpio-range = <
		&range GPIO_49  2 (MUX_MODE0 | EDGE_NONE | PULL_UP | PAD_DS4)
	>;

	pinctrl_rcpu: pinctrl_rcpu_grp {
		pinctrl-single,pins = <
			K3_PADCONF(GPIO_47, (MUX_MODE1 | EDGE_NONE | PULL_UP | PAD_DS4))     /* r_uart0_tx */
			K3_PADCONF(GPIO_48, (MUX_MODE1 | EDGE_NONE | PULL_UP | PAD_DS4))     /* r_uart0_rx */
		>;
	};
};

&gpio {
	gpio-ranges = <&pmx_core 49  GPIO_49  2>;
	status = "okay";
};

&r_gpio {
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	status = "okay";
//	pinctrl-0 = <&pinctrl_rcpu>;
};

&mailbox3 {
	status = "okay";
};

&mailbox4 {
	status = "disabled";
};

&mailbox5 {
	status = "disabled";
};

&mailbox6 {
	status = "disabled";
};

&mailbox7 {
	status = "okay";
};

&rproc0 {
	status = "okay";
	mboxes = <&mailbox3 1>, <&mailbox3 2>;
};

&rpmi {
	status = "okay";
	mboxes = <&mailbox3 0>;
};

&rspi0 {
	status = "okay";
};
