// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2022 Spacemit, Inc */

/dts-v1/;

#include "ccu-spacemit-k1x.h"

/ {
	compatible = "spacemit,k1-x";
	#address-cells = <2>;
	#size-cells = <2>;

	cpus: cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu_0: cpu@0 {
			compatible = "spacemit,n308", "riscv";
			device_type = "cpu";
			reg = <0>;
			status = "okay";
		};
	};

	clocks {
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		ranges;

		vctcxo_24: clock-vctcxo_24 {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <24000000>;
			clock-output-names = "vctcxo_24";
		};

		vctcxo_3: clock-vctcxo_3 {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <3000000>;
			clock-output-names = "vctcxo_3";
		};

		vctcxo_1: clock-vctcxo_1 {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <1000000>;
			clock-output-names = "vctcxo_1";
		};

		pll1_2457p6_vco: clock-pll1_2457p6_vco {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <2457600000>;
			clock-output-names = "pll1_2457p6_vco";
		};

		clk_32k: clock-clk32k {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <32000>;
			clock-output-names = "clk_32k";
		};
	};

	soc: soc {
		#address-cells = <1>;
		#size-cells = <1>;

		ccu: ccu@c0880000 {
			compatible = "spacemit,rcpu-ccu-k1x";
			reg = <0xd4050000 0x209c>,
				<0xd4282800 0x400>,
				<0xd4015000 0x1000>,
				<0xd4090000 0x1000>,
				<0xd4282c00 0x400>,
				<0xd8440000 0x98>,
				<0xc0000000 0x4280>,
				<0xf0610000 0x20>,
				<0xc0880000 0x2050>,
				<0xc0888000 0x30>;
			#clock-cells = <1>;
			status = "okay";
		};

		uart: serial@d4017000 {
			compatible = "spacemit,pxa-uart";
			clocks = <&ccu CLK_RCPU_UART0>;
			status = "ok";
		};

	};
};
