// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2022 Spacemit, Inc */

/dts-v1/;

/ {
	compatible = "spacemit,k1-x";
	#address-cells = <2>;
	#size-cells = <2>;

	cpus: cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu_0: cpu@0 {
			compatible = "spacemit,x60", "riscv";
			device_type = "cpu";
			reg = <0>;
			status = "okay";
		};
	};

	soc: soc {
		#address-cells = <1>;
		#size-cells = <1>;

		uart: serial@d4017000 {
			compatible = "spacemit,pxa-uart";
			status = "ok";
		};
	};
};
